.vscode/*
Thumbs.db
CHANGELOG.md

# Enfusion files
*.rdb
UserMaps.desc
addons/carrying/TESTINGMAPBETACUCK.ent
addons/carrying/TESTINGMAPBETACUCK.ent.meta
addons/carrying/TESTINGMAPBETACUCK_Layers/default.layer
