---
import Icon from '~/components/Icon.astro';

import { config } from '~/utils/config'

const version = config.ace.version
---

<div class="flex flex-row gap-2 justify-center mb-8">
  <Icon name="tag" /> {`v${version.major}.${version.minor}.${version.patch}`}
</div>
