---
import { config } from '~/utils/config';
---

  <footer class="text-center pt-12">
    <p>
      {config.site.name}
      {' '}
      is free and open-source software.
      <br />
      <a href={config.ace.projectUrl}>acemod</a>
    </p>
  </footer>
